-- ==============================================================================
-- 1. CREACIÓN DE LA BASE DE DATOS
-- ==============================================================================
-- Nota: Si ejecutas este script en otra PC, asegúrate de tener FILESTREAM 
-- habilitado en tu instancia de SQL Server, o ajusta las rutas de los archivos.

CREATE DATABASE GestionDocumentos_V2
 CONTAINMENT = NONE
 ON PRIMARY ( 
    NAME = N'GestionDocumentos_V2', 
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GestionDocumentos_V2.mdf'
 ), 
 FILEGROUP GestionDocumentosFSGroup_V2 CONTAINS FILESTREAM DEFAULT ( 
    NAME = N'GestionDocumentos_FS_V2', 
    FILENAME = N'C:\server\documents_v2'
 )
 LOG ON ( 
    NAME = N'GestionDocumentos_V2_log', 
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GestionDocumentos_V2_log.ldf'
 );
GO

USE GestionDocumentos_V2;
GO

-- 2. CREACIÓN DE TABLAS INDEPENDIENTES

CREATE TABLE DocumentAccess (
    id INT PRIMARY KEY,
    name VARCHAR(25) NOT NULL
);
GO

CREATE TABLE DocumentCategories (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name NVARCHAR(50) NOT NULL,
    description NVARCHAR(250) NULL
);
GO

CREATE TABLE Roles (
    id INT PRIMARY KEY,
    name NVARCHAR(50) NOT NULL UNIQUE
);
GO

CREATE TABLE Users (
    id INT IDENTITY(1,1) PRIMARY KEY,
    first_name NVARCHAR(50) NOT NULL,
    last_name NVARCHAR(50) NOT NULL DEFAULT '',
    institutional_email NVARCHAR(100) NOT NULL UNIQUE,
    password NVARCHAR(256) NOT NULL DEFAULT '',
    role_id INT NOT NULL DEFAULT 2
);
GO

-- 3. CREACIÓN DE TABLAS DEPENDIENTES

CREATE TABLE Documents (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name NVARCHAR(255) NOT NULL,
    file_extension VARCHAR(10) NOT NULL,
    owner_user_id INT NOT NULL,
    created_at DATETIME DEFAULT GETDATE(),
    category_id INT NULL,
    CONSTRAINT FK_Document_Category FOREIGN KEY (category_id) REFERENCES DocumentCategories (id),
    CONSTRAINT FK_Owner_User_V2 FOREIGN KEY (owner_user_id) REFERENCES Users (id)
);
GO

CREATE TABLE DocumentVersion (
    version_id INT IDENTITY(1,1) PRIMARY KEY,
    row_id UNIQUEIDENTIFIER ROWGUIDCOL NOT NULL DEFAULT NEWID() UNIQUE,
    document_id INT NOT NULL,
    version_number INT NOT NULL,
    file_content VARBINARY(MAX) FILESTREAM NOT NULL,
    file_size_in_bytes BIGINT NULL,
    uploaded_at DATETIME DEFAULT GETDATE(),
    uploading_user_id INT NOT NULL,
    CONSTRAINT FK_Version_Document FOREIGN KEY (document_id) REFERENCES Documents (id),
    CONSTRAINT FK_Version_Uploading_User FOREIGN KEY (uploading_user_id) REFERENCES Users (id)
);
GO

CREATE TABLE UserDocumentAccess (
    id INT IDENTITY(1,1) PRIMARY KEY,
    document_id INT NOT NULL,
    access_granted_to_user_id INT NOT NULL,
    permission_id INT NOT NULL,
    access_granted_by_user_id INT NOT NULL,
    CONSTRAINT UQ_Unique_Access_By_User UNIQUE (document_id, access_granted_to_user_id),
    CONSTRAINT FK_Document_Access FOREIGN KEY (document_id) REFERENCES Documents (id),
    CONSTRAINT FK_Access_Granted_To_User FOREIGN KEY (access_granted_to_user_id) REFERENCES Users (id),
    CONSTRAINT FK_Access FOREIGN KEY (permission_id) REFERENCES DocumentAccess (id),
    CONSTRAINT FK_Access_Granted_By_User FOREIGN KEY (access_granted_by_user_id) REFERENCES Users (id)
);
GO

-- 4. PROCEDIMIENTOS ALMACENADOS

CREATE PROCEDURE sp_AddNewDocumentVersion
    @DocumentId INT,
    @UploadingUserId INT,
    @FileContent VARBINARY(MAX),
    @FileSizeInBytes BIGINT,
    @FileExtension NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (
            SELECT 1 FROM Documents 
            WHERE id = @DocumentId AND owner_user_id = @UploadingUserId
            UNION
            SELECT 1 FROM UserDocumentAccess 
            WHERE document_id = @DocumentId 
              AND access_granted_to_user_id = @UploadingUserId 
              AND permission_id IN (2, 3)
        )
        BEGIN
            RAISERROR('No tienes permisos de escritura para actualizar este documento.', 16, 1);
        END

        DECLARE @NextVersion INT;
        
        SELECT @NextVersion = MAX(version_number) + 1 
        FROM DocumentVersion 
        WHERE document_id = @DocumentId;

        INSERT INTO DocumentVersion (document_id, version_number, file_content, file_size_in_bytes, uploading_user_id)
        VALUES (@DocumentId, @NextVersion, @FileContent, @FileSizeInBytes, @UploadingUserId);

        UPDATE Documents SET file_extension = @FileExtension WHERE id =  @DocumentId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        THROW 51001, @ErrorMessage, 1;
    END CATCH
END;
GO


CREATE PROCEDURE sp_CreateUser
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(256),
    @RoleId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE institutional_email = @Email)
    BEGIN
        RAISERROR('Error: El correo institucional ya se encuentra registrado.', 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM Roles WHERE id = @RoleId)
    BEGIN
        RAISERROR('Error: El rol especificado no existe en el sistema.', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        INSERT INTO Users (first_name, last_name, institutional_email, password, role_id)
        VALUES (@FirstName, @LastName, @Email, @PasswordHash, @RoleId);

        SELECT SCOPE_IDENTITY() AS NewUserId;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO


CREATE PROCEDURE sp_DeleteDocument
    @DocumentId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION

        IF NOT EXISTS (SELECT 1 FROM Documents WHERE id = @DocumentId AND owner_user_id = @UserId)
        BEGIN
            RAISERROR('El documento no existe o no tienes permisos para eliminarlo.', 16, 1)
        END

        DELETE FROM UserDocumentAccess WHERE document_id = @DocumentId;
        DELETE FROM DocumentVersion WHERE document_id = @DocumentId;
        DELETE FROM Documents WHERE id = @DocumentId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO


CREATE PROCEDURE sp_GetDocumentsByUser
    @UserId INT,
    @FileName NVARCHAR(255) = NULL,
    @SortOption TINYINT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.id AS DocumentId, 
        d.name AS DocumentName, 
        d.file_extension AS FileExtension, 
        v.file_size_in_bytes AS FileSize,
        v.uploaded_at AS UploadDate,
        v.version_number AS VersionNumber
    FROM Documents d
    INNER JOIN DocumentVersion v ON d.id = v.document_id
    WHERE d.owner_user_id = @UserId
      AND (@FileName IS NULL OR d.name LIKE '%' + @FileName + '%')
      AND v.version_number = (SELECT MAX(version_number) FROM DocumentVersion WHERE document_id = d.id)
    ORDER BY 
        CASE WHEN @SortOption = 0 THEN v.uploaded_at END DESC,
        CASE WHEN @SortOption = 1 THEN v.uploaded_at END ASC,
        CASE WHEN @SortOption = 2 THEN d.name END DESC,
        CASE WHEN @SortOption = 3 THEN d.name END ASC;
END;
GO


CREATE PROCEDURE sp_UploadNewDocument
    @Name NVARCHAR(255),
    @FileExtension VARCHAR(10),
    @OwnerUserId INT,
    @FileContent VARBINARY(MAX),
    @FileSizeInBytes BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @NewDocumentId INT;
        
        INSERT INTO Documents (name, file_extension, owner_user_id)
        VALUES (@Name, @FileExtension, @OwnerUserId);
        
        SET @NewDocumentId = SCOPE_IDENTITY();

        INSERT INTO DocumentVersion (document_id, version_number, file_content, file_size_in_bytes, uploading_user_id)
        VALUES (@NewDocumentId, 1, @FileContent, @FileSizeInBytes, @OwnerUserId);

        INSERT INTO UserDocumentAccess (document_id, access_granted_to_user_id, permission_id, access_granted_by_user_id)
        VALUES (@NewDocumentId, @OwnerUserId, 3, @OwnerUserId);

        COMMIT TRANSACTION;

        SELECT @NewDocumentId AS NewDocumentId;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO

